<div class="container gallery-container" style="background-color: burlywood;">
    <!-- <div class="first"></div> -->

    <h1>Our Educator</h1>

    <p class="page-description text-center"></p>

    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/photo_2020-07-28_23-38-26.jpg/:/cr=t:8.3%25,l:9.67%25,w:80.66%25,h:40%25/rs=w:360,h:240,cg:true,m">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/photo_2020-07-28_23-38-26.jpg/:/cr=t:8.3%25,l:9.67%25,w:80.66%25,h:40%25/rs=w:360,h:240,cg:true,m"
                        alt="Park">
                </a>

                <h3>Shiva Singh</h3>

                Spoken English Trainer at British Council
                B.A English- Banaras Hindu University
                M.A. Linguistics- University of Delhi
                M.A Adult Education- University of Delhi
                Author, Translator, Content Writer
                Hobbies- Painting and Dancing.<br>
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>

            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG_20200717_231043.jpg/:/cr=t:14.09%25,l:9.9%25,w:82.02%25,h:33.56%25/rs=w:360,h:240,cg:true,m">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG_20200717_231043.jpg/:/cr=t:14.09%25,l:9.9%25,w:82.02%25,h:33.56%25/rs=w:360,h:240,cg:true,m"
                        alt="Bridge">
                </a>
                <h3>Narayani Srivastava</h3>
                Master's in Psychology (Pursuing)
                from Banaras Hindu University
                Work Experience:
                A. Content Development Intern- YoungSkilledIndia (Oct'16-Dec'16)
                B. Social Development
                Intern- Deshpande Foundation (Jun'18-Jul'18)
                Hobbies : Reading novels, Singing.
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>

            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG_20200717_235951.jpg/:/cr=t:6.28%25,l:0%25,w:100%25,h:52.63%25/rs=w:360,h:240,cg:truehttps://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG_20200717_235951.jpg/:/cr=t:6.28%25,l:0%25,w:100%25,h:52.63%25/rs=w:360,h:240,cg:true">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG_20200717_235951.jpg/:/cr=t:6.28%25,l:0%25,w:100%25,h:52.63%25/rs=w:360,h:240,cg:true"
                        alt="Tunnel">
                </a>
                <h3> Pragya Singh</h3>
                B. Tech
                Expert in Maths.<br>
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>
            </div>
            <br>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG-20200720-WA0005_2.jpg/:/rs=w:360,h:240,cg:true,m/cr=w:360,h:240">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG-20200720-WA0005_2.jpg/:/rs=w:360,h:240,cg:true,m/cr=w:360,h:240"
                        alt="Coast">
                </a>
                <h3>Megha Choudhary</h3>
                B.Sc. + M.Sc. Integrated – LPU
                Expert in Maths from 6th to 10th<br>
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://isteam.wsimg.com/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/tf2.jpg/:/cr=t:9.73%25,l:28.13%25,w:71.87%25,h:64.94%25/rs=w:360,h:240,cg:true,m">
                    <img src="https://isteam.wsimg.com/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/tf2.jpg/:/cr=t:9.73%25,l:28.13%25,w:71.87%25,h:64.94%25/rs=w:360,h:240,cg:true,m"
                        alt="Rails">
                </a>
                <h3>aditya Jayaswal</h3>
                B. TECH CSE (with distinction)
                VBU university
                GATE Qualified 2019 , RRB, TCS, JEE mains and various exams.<br>
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>



            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG-20200719-WA0013_2.jpg/:/cr=t:5.58%25,l:0%25,w:99.3%25,h:67.57%25/rs=w:360,h:240,cg:true,m">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG-20200719-WA0013_2.jpg/:/cr=t:5.58%25,l:0%25,w:99.3%25,h:67.57%25/rs=w:360,h:240,cg:true,m"
                        alt="Traffic">
                </a>
                <h3>Akhil Sharma</h3>s
                B.Sc. (Jammu University)
                M.Sc. LPU Punjab<br>
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>
            </div>
            <br>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG_20200111_121941_3.jpg/:/cr=t:4.83%25,l:0%25,w:100%25,h:64.94%25/rs=w:360,h:240,cg:true">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG_20200111_121941_3.jpg/:/cr=t:4.83%25,l:0%25,w:100%25,h:64.94%25/rs=w:360,h:240,cg:true"
                        alt="Rocks">
                </a>
                <h3> Ajay Maurya</h3>
                B. Tech IIT BHU, Varanasi<br>
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG_20200717_233215.jpg/:/cr=t:9.4%25,l:2.06%25,w:96.28%25,h:64.16%25/rs=w:360,h:240,cg:true,m">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG_20200717_233215.jpg/:/cr=t:9.4%25,l:2.06%25,w:96.28%25,h:64.16%25/rs=w:360,h:240,cg:true,m"
                        alt="Benches">
                </a>
                <h3>Shivam Kumar</h3>
                B. Tech Civil Engineering 2018
                from VBU university
                Qualified RRB JE 2018
                Hobbies- Reading, playing flute, cricket
                Listening to music.<br>
                <iframe width="297" height=""
                    src="https://www.youtube.com/embed/Sh-_wSCYY5M?list=PLxG3vaOew5J8IFyMzGup6N01Foequ7rv7"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <!-- <button type="button" <href="<iframe width='"793'" height="440"
                    src="https://www.youtube.com/embed/Sh-_wSCYY5M?list=PLxG3vaOew5J8IFyMzGup6N01Foequ7rv7"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>" class="btn btn-primary btn-lg">Explore More</button><br> -->
                    <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>

            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG-20200719-WA0002.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:62.5%25/rs=w:360,h:240,cg:true">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/IMG-20200719-WA0002.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:62.5%25/rs=w:360,h:240,cg:true"
                        alt="Sky">
                </a>
                <h3>Anand Patel</h3>
                B.Tech (CSE) and M.Sc. Mathematics from LPU Punjab.<br>
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>

            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/Atya%20Ayush.jpg/:/cr=t:25.94%25,l:0%25,w:100%25,h:66.67%25/rs=w:360,h:240,cg:true">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/Atya%20Ayush.jpg/:/cr=t:25.94%25,l:0%25,w:100%25,h:66.67%25/rs=w:360,h:240,cg:true"
                        alt="Sky">
                </a>
                <br>
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>
            </div>
            <br>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox"
                    href="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/Priyanka%20Kumari.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:73.53%25/rs=w:360,h:240,cg:true">
                    <img src="https://img1.wsimg.com/isteam/ip/5aa7d97f-f37a-484f-a7c6-c32172ba44da/Priyanka%20Kumari.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:73.53%25/rs=w:360,h:240,cg:true"
                        alt="Sky">
                </a>
                <br>
                <button type="button" class="btn btn-primary btn-lg">Explore More</button><br>
            </div>
        </div>

    </div>
</div>