<app-navbar></app-navbar>
<div class="container my-5 py-5 z-depth-1">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

        <!--Grid row-->
        <!-- <div class="row"> -->

            <!--Grid column-->
            <!-- <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

               <img src="https://mdbootstrap.com/img/Others/food.jpg" class="img-fluid" alt=""> -->
                <!-- <img src="/assets/baba.jpg" class="img-fluid" alt=""> -->

            <!-- </div>  -->
            <!--Grid column-->

            <!--Grid column-->
            <!-- <div class="col-lg-6 mb-6 mb-lg-0"> -->
                <div class="contnt" style="align-content:center">

                <h3 class="font-weight-bold md-3" style="text-align: center;">About Us</h3>


                <!-- <p class="text-muted"> -->
                <p>Baba ki Pathshaala is an online platform that provides an opportunity for users for their overall
                    development rather than just academics.
                    We ensure this by offering a wide platform including extracurriculars as well as mental health
                    support to the users by offering them psychological help.
                    For ensuring this, we have 5 major sections on our platform:</p>
                <ol>
                    <li>Academics - Covering the basic education related to classes 1 to 12.</li>

                    <li>Extra-Curricular - The Arts related to Sketching, Music, Dance, Painting, etc </li>

                    <li> Competitive/Entrance Exams - Preparing you for exams like JEE, UPSC, SSC, and others.</li>

                    <li>Professional Courses - To update your knowledge,
                        Re-skill you and pump up your career by live courses on AI, ML, Computer Language, etc.</li>

                    <li> Mental Health - Very important section, containing an Expert panel of psychologists to support
                        &
                        help you whenever you want.</li>
                </ol>
                <p>We aim to develop the skills required for handling real-life situations and to diversify the
                    knowledge areas of users so that when they enter the real world,
                    they have the ability to handle it.
                </p>
                <p class="font-weight-bold">Our highlight features that make us better than others are:</p>

                <ul>
                    <li> Single platform for all your learning needs like academics, extra curricular, Professional
                        needs, Competitive exam, mental health.</li>
                    <li> Perfect teacher to student ratio of 1:5.</li>
                    <li> Expert Panel of psychologists to help you. </li>
                    <li> Two way communication to your Educator.</li>
                </ul>
                <!-- </p> -->

                <!-- <a class="font-weight-bold" href="#">Learn more<i class="fas fa-angle-right ml-2"></i></a> -->

            </div>
            <!-- </div> -->
            <!--Grid column-->

        <!-- </div> -->
        <!--Grid row-->
        <iframe width="875" height="441" src="https://www.youtube.com/embed/noaF9DzRiI4"
         frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

    </section>
    <!--Section: Content-->


</div>
<app-footer></app-footer>