<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="padding-top: 0rem!important;">

  <!-- Footer Links -->
  <div class="container-fluid" style="background-color: rgb(0, 0, 0);;">

    <!-- Grid row
      <div class="row">
  
      -->

    <!-- <hr> -->

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1" style="    font-size: initial;
        color: aliceblue;">For query and suggestions, write us on </h5>
        <h4 class="mb-2" style="    color: aliceblue;
         font-size: small;">info@babakipathshaala.com</h4>
      </li>
    </ul>
    <!-- Call to action -->

    <!-- <hr> -->

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center" id = "socialIcons">
      <li class="list-inline-item" id="fabIcon">
        <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/Baba-Ki-Pathshaala-104051268039714/"
          >
          <i class="fab fa-facebook-f" style="font-size: 18px;"> </i>
        </a>
      </li>
      <li class="list-inline-item" id="twitterIcon">
        <a class="btn-floating btn-tw mx-1" href="#" >
          <i class="fab fa-twitter" style="font-size: 18px;"> </i>
        </a>
      </li>
      <li class="list-inline-item" id="gIcon">
        <a class="btn-floating btn-gplus mx-1" href="#" >
          <i class="fab fa-google-plus-g" style="font-size: 18px;"> </i>
        </a>
      </li>
      <li class="list-inline-item" id="ytIcon">
        <a class="btn-floating btn-youtube mx-1" href="https://www.youtube.com/channel/UC0S7BAvRQ02wCpIcBTdRBnw"
         >
          <i class="fab fa-youtube" style="font-size: 18px;"> </i>
        </a>
      </li>
      <li class="list-inline-item" id="instaIcon">
        <a href="https://www.instagram.com/baba_ki_pathshaala/?igshid=l3nls4e6qla8"
          class="btn-floating btn-instagram mx-1" >
          <i class="fab fa-instagram" style="font-size: 18px;"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p style="color: honeydew">© 2020 Copyright:
        <a href="https://babakipathshaala.com/" style="color: aliceblue;"> babakipathshaala.com</a> - All Rights
        Reserved.</p>
    </div>
    <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->